<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.Description }}" />

    {{ partial "head.html" . }}
  </head>
  <body class="o-body">
    {{ partial "header.html" . }}

    <div class="o-main__wrapper">
      <div class="c-cta">
        <p>I am currently <em>looking for work</em>.</p>
      </div>

      <div>
        <p>
          Hi, I'm Claire Parker-Jones, a senior frontend developer based in the
          North West of England.
        </p>
        <p>
		  I was made redundant in August when my employer Laterooms.com went into administration, during my maternity leave. Now I'm looking for a new, part-time role.
        </p>
        <p>I have 6 years experience writing code for web applications, mostly JavaScript and CSS. There's more details on my <a href="/work-history">Work History</a> page.</p>
	  </div>

      <div class="c-cta">
        I'd love to chat about new opportunities. <a class="" href={{ print "mailto:" .Site.Params.EmailAddress "?subject=Hi" }}>Send me an email</a> at claire@clairecodes.com.
	  </div>
	  
	  <div>
		  <p>I've been blogging about web development on this site since 2015. Why not:</p>
		  <ul>
			  <li>read some of my <a href="/blog">blog posts</a></li>
			  <li>find out what I've been working on recently in my <a href="/dev-diary">Dev Diary</a></li>
			  <li>find even more coding content on my Instagram account <a href="https://instagram.com/claire_codes">claire_codes</a> (read the captions!)</li>
		  </ul>
	  </div>
    </div>

    {{ partial "footer.html" . }}
  </body>
</html>
